@model IEnumerable<ApplicationUser>

<div class="container">

    @section Scripts{
        <partial name="_NotificationPartial">
        }

        <div class="row mb-3 align-items-center my-3">
            <div class="col-md-6">
                <h2>All Users</h2>
            </div>
            <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
                <a href="/Admin/User/Create" class="btn btn-success">Create</a>
            </div>
        </div>
</div>


<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.Email </td>

                        @if (item.LockoutEnabled)
                        {
                            <td><spam class="badge text-bg-success">Active</spam></td>
                        }
                        else
                        {
                            <td><spam class="badge text-bg-danger">InActive</spam></td>
                        }

                        @if (User.IsInRole(SD.SUPER_ADMIN_ROLE) || User.IsInRole(SD.ADMIN_ROLE))
                        {
                            @if (item.LockoutEnabled)  //m4 wa5ed lock
                            {
                                <td>
                                    <a href="/Admin/User/LockUnLock/@item.Id" type="button" class="btn btn-danger">Lock</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a href="/Admin/User/LockUnLock/@item.Id" type="button" class="btn btn-success">Un Lock</a>
                                </td>
                            }
                        }
                        else
                        {
                            <td>No Actions!</td>
                        }
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
